<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading"><a class="blog-link" href="/">{{ site.title | escape }}</a></h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul>
          <li><i class="fab fa-github"></i>   <a href="http://github.com/aadunn">aadunn</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div><!-- end wrapper div -->

</footer>