<head>
	<title>{{ page.title }}</title>

  {% include google_analytics.html %}

	<!-- author tags -->
	<meta name="author" content="Alex Dunn">
	<meta name="publisher" content="Alex Dunn">
	<meta name="copyright" content="2018, Alex Dunn">
	<meta name="host" content="blog.aadunn.ca">

	<!-- device formatting -->
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- stylesheets -->
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/normalize.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/ideal-image-slider.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/default.css" | relative_url }}">
  <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

  <!-- favicon -->
  <link href="{{ "/assets/images/favicon.ico" | relative_url }}" rel="icon" type="image/x-icon" />

  <!-- feed -->
  <link rel="alternate" title="{{ site.title }}" type="application/json" href="{{ "/feed.json" | prepend: site.baseurl | prepend: site.url }}" />

  <!-- twitter cards -->
  <meta name="twitter:site"    content="@{{ site.twitter_username }}">
  <meta name="twitter:creator" content="@{{ page.author }}">
  <meta name="twitter:title"   content="{{ page.postId }}: {{ page.title }}">

  {% if page.summary %}
  <meta name="twitter:description" content="{{ page.summary }}">
  {% else %}
  <meta name="twitter:description" content="{{ site.description }}">
  {% endif %}

  {% if page.headerImage %}
  <meta name="twitter:card"  content="summary_large_image">
  <meta name="twitter:image" content="{{ site.url }}{{ page.headerImage }}">
  {% else %}
  <meta name="twitter:card"  content="summary">
  <meta name="twitter:image" content="{{ site.title_image }}">
  {% endif %}
  <!-- end of twitter cards -->
</head>
