<head>
	<title>{{ page.title }}</title>

	<!-- author tags -->
	<meta name="author" content="Alex Dunn">
	<meta name="publisher" content="Alex Dunn">
	<meta name="copyright" content="2018, Alex Dunn">
	<meta name="host" content="blog.aadunn.ca">

	<!-- technical formatting -->
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- stylesheets -->
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>