/* font declarations */
@font-face {
    font-family: "meiji-sans";
    src: url("assets/fonts/meiji-sans-bold.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "meiji-sans";
    src: url("assets/fonts/meiji-sans-book.woff") format('woff');
}

@font-face {
    font-family: "meiji-sans";
    src: url("assets/fonts/meiji-sans-book-italics.woff") format('woff');
    font-weight: italic;
}


/* start custom sass */

body, html {
	margin: 0;
	padding: 0;
}

body {
  height: auto;
  width: 100%;
	font-family: "Meiji Sans", "Helvetica Neue", Helvetica, sans-serif;
	//font-size: 14px;
	line-height: 20px;
  background-color: white;
}


/* link styles */

a:link, a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* header and footer styles */

.site-header {
  width: 100%;
  padding: 1%;

  background-image: url("../images/space.jpg");
  opacity: .90;

  border-style: solid;
  border-color: gray;
  border-width: 0px 0px 2px 0px;

  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;

  .site-title {
    color: $grey-color-light;
  }
}

.site-footer {
  width: 100%;
  max-height: 150px;
  min-height: 150px;
  padding: 1%;
  border-style: solid;
  border-color: gray;
  border-width: 2px 0px 0px 0px;
  position: relative;
  font-size: 10px;

  background-color: #292929;

  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  p {
    margin-top:0;
  }

  .blog-link {
    color: $grey-color-light;
    font-weight: lighter;
    text-shadow: none;
    font-size: 20px;
  }

  a {
    color: $grey-color;
  }
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color-light;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix !optional;
}

.footer-col {
  color: $grey-color-light;
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  color: $grey-color;
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  color: $grey-color;
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  color: $grey-color;
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .post-list {
    width: 100vw;

    .center {
      width: 100vw;
    }
    .post-link {
      width: 100vw;
    }
  }

  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}


/* element styling */

h1,h2,h3,h4 {
  color: white;
  text-shadow: $drop-shadow;
}

.center {
	margin: auto;
}

.post-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.article-body {
  padding: 2%;
  color: $grey-color-dark;
}


/* navigation hover effect */

.post-summary {
    filter: brightness(70%);
    transition: all .1s linear;
}

.post-summary:hover {
    filter: brightness(100%);
    transition: all .1s linear;
}