.article {
	width: 100%;
	text-align: left;
}

.header-image {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	border: none;
	object-fit: cover;
}

.summary-image {
	object-fit: cover;
}

.article-cover {
	height: 100vh;
	text-shadow: $drop-shadow;

	h1 {
    font-size: 100px;
  }

  h2 {
    font-size: 80px;
  }

  h3 {
    font-size: 60px;
  }

  h4 {
    font-size: 40px;
  }
	
	span {
		padding-left: 3%;
		position: absolute;
		z-index: 1;
		bottom: 0;
		width: 100%;
		color: white;
		text-align: left;
		text-shadow: $drop-shadow;
	}
}

.post-title {
	line-height: 90px;
}

.content-wrapper {
	width: 100%;
	background-color: white;
	z-index: 0;
}

.article-body {
	width: 50%;
	text-align: left;
	z-index: 0;

	text-align: justify;
  text-justify: inter-word;

	a {
		color: lighten(blue, 20%);
	}
}


/* next-previous post navigation */

.next-previous {
	width: 100vw;

	.adjacent-list {
		padding: 0;
		margin: 0;
		width: 100vw;
		list-style: none;

		li {
			padding: 0;
			margin: 0;
		}

		div.post-summary {
			height: 200px;
			padding: 4%;
			padding-left: 2%;
			padding-bottom: 1%;
			margin-left: 0;

			a {
				width:100%;
			}
		}
	}
}

@include media-query($on-palm) {
	.article-cover {
		span {
			h1 {
				font-size: 50px;
			}

			h3 {
				font-size: 40px;
			}

			h4 {
				font-size: 20px;
			}
		}
	}

  .article-body {
    width: 90vw;
  }
}
