.article {
	width: 100%;
	text-align: left;
}

.header-image {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	border: none;
	object-fit: cover;
}

.summary-image {
	object-fit: cover;
}

.article-cover {
	height: 100vh;
	text-shadow: $drop-shadow;
	
	span {
		padding-left: 3%;
		position: absolute;
		z-index: 1;
		bottom: 0;
		width: 100%;
		color: white;
		text-align: left;
		text-shadow: $drop-shadow;
	}
}

.post-title {
	line-height: 90px;
}

.content-wrapper {
	width: 100%;
	background-color: white;
	z-index: 0;
}

.article-body {
	width: 50%;
	text-align: left;
	z-index: 0;

	a {
		//text-decoration: underline;
		color: blue;
	}
}

@include media-query($on-palm) {
  .article-body {
    width: 90vw;
  }
}
