<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <nav class="hidden">
      <ul>
        {% for post in site.posts %}
        <li>
          <a href="{{ post.post_url }}">
            <img src="{{ post.headerImage }}" alt="{{ post.headerAlt }}" />
          </a>
          <h5>{{ post.postId }}: {{ post.title }}</h5>
        </li>
        {% endfor %}
      </ul>
    </nav>

    <main class="page-content center" aria-label="Content">
      <div class="wrapper center">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
